<div class="header">
  <div class="header__title">{{ headline.title }}</div>
  <i
    *ngIf="!headline.loading && headline.data.length > 0"
    (click)=_refresh(true)
    class="material-icons header__refresh"
  >
    cached
  </i>
</div>

<div
  *ngIf="headline.loading"
  class="state__info"
>
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

<div
  *ngIf="!headline.loading && headline.data.length == 0"
  class="state__info"
>
  <div>Could not load any data :C</div>
  <div (click)=_refresh()>
    <i class="material-icons refresh">cached</i>
  </div>
</div>

<div class="items">
  <div *ngIf="!headline.loading">
    <a
      *ngFor="let item of headline.data"
      href="{{ item.url }}"
      class="item"
      [ngClass]="{'flash': item.isNew}"
      target="_blank"
    >
      <div class="item__info">
        <div class="item__info__title">{{ item.title }}</div>
        <div *ngIf="item.description" class="item__info__description">{{ item.description }}</div>
      </div>
      <span class="item__badge">{{ item.points }}</span>
    </a>
  </div>
</div>
